<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="~/css/slick/slick.css">
    <link rel="stylesheet" href="~/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/iconfont.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootsnav.css">
    <!-- xsslider slider css -->
    <!--<link rel="stylesheet" href="~/css/xsslider.css">-->
    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="~/css/plugins.css" />-->
    <!--Theme custom css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!--<link rel="stylesheet" href="~/css/colors/maron.css">-->
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


    </style>
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <div>
    


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->

        <div class="culmn">
            <!--Home page style-->

            <nav class="navbar navbar-default bootsnav navbar">
                <div class="navbar-top bg-grey fix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="navbar-callus text-left ">
                                    <font color=darkgreen size=5 face="微軟正黑體">
                                        <b>
                                            <marquee direction="right" align="center" height="55" scrollamount="10">觀迎來到我們官網 還沒有會員的趕快註冊吧~→→→→</marquee>
                                    </font></b>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="navbar-socail text-right sm-text-center">
                                    <ul class="list-inline">
                                        <li><i class="fa fa-sign-in" style="font-size:30px;color:darkgreen"></i><b><font size="5"><font color="black"><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">會員登入</button></font></font></b></a></li>
                                        <li>
                                        <li>

                                            <b>
                                                <font size="5">
                                                    <font color="black">
                                        <li><i class="fa fa-sign-in" style="font-size:30px;color:darkgreen"></i><b><font size="5"><font color="black"><button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">註冊會員 </button></font></font></b></a></li>

                                        </button>
                                        </font>
                                        </font>
                                        </b>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">     
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")#home">
                            <img src="~/images/logo.png" class="logo" alt="">
                            <!--<img src="~/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>
                    </div>
                    <!-- End Header Navigation -->
                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index", "Home")#home">首頁</a></li>
                            <li><a href="@Url.Action("Index", "Home")#features">關於我們</a></li>
                            <li><a href="@Url.Action("Index", "Home")#business">我們提供的服務</a></li>
                            <li><a href="@Url.Action("Index", "Home")#test">我們的客戶</a></li>
                            <li><a href="@Url.Action("Index", "Home")#contact">聯絡我們</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>


            @RenderBody()
            <!--Home Sections-->



            <footer id="contact" class="footer action-lage bg-black p-top-80">
                <!--<div class="action-lage"></div>-->
                <div class="container">
                    <div class="row">
                        <div class="widget_area">
                            <div class="col-md-3">
                                <div class="widget_item widget_about">
                                    <h5 class="text-white">關於我們</h5>
                                    <p class="m-top-20">
                                        Lorem ipsum dolor sit amet consec tetur adipiscing elit
                                        nulla aliquet pretium nisi in cursus
                                        maecenas nec eleifen.
                                    </p>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">公司位置</h6>
                                            <p>
                                                123 suscipit ipsum nam auctor
                                                mauris dui, ac sollicitudin mauris,
                                                Bandung
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-phone"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">電話 :</h6>
                                            <p>+1 2345 6789</p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">電子郵件 :</h6>
                                            <p>youremail@mail.com</p>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                            <div class="col-md-3">
                                <div class="widget_item widget_latest sm-m-top-50">
                                    <h5 class="text-white">最新消息</h5>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="~/images/ltst-img-1.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="~/images/ltst-img-2.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="~/images/ltst-img-3.jpg" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                            <div class="col-md-3">
                                <div class="widget_item widget_service sm-m-top-50">
                                    <h5 class="text-white">最新公告</h5>
                                    <ul class="m-top-20">
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Web Design</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> User Interface Design</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> E- Commerce</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Web Hosting</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Themes</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Support Forums</a></li>
                                    </ul>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                            <div class="col-md-3">
                                <div class="widget_item widget_newsletter sm-m-top-50">
                                    <h5 class="text-white">訂閱我們！</h5>
                                    <form class="form-inline m-top-30">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter you Email">
                                            <button type="submit" class="btn text-center"><i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </form>
                                    <div class="widget_brand m-top-40">
                                        <a href="" class="text-uppercase">Your Logo</a>
                                        <p>
                                            Lorem ipsum dolor sit amet consec tetur
                                            adipiscing elit nulla aliquet pretium nisi in
                                        </p>
                                    </div>
                                    <ul class="list-inline m-top-20">
                                        <li>-  <a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                                        <li><a href=""><i class="fa fa-dribbble"></i></a>  - </li>
                                    </ul>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                        </div>
                    </div>
                </div>
                <div id="id01" class="modal">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            
                        </div>
                        <div class="container">
                            <br>
                            <br>
                            <br>
                            <br>
                            <label for="uname"><b>名稱</b></label>
                            <input type="text" placeholder="輸入名稱" name="uname" required>

                            <label for="psw"><b>密碼</b></label>
                            <input type="password" placeholder="輸入密碼" name="psw" required>

                            <button type="submit">登入</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> 記住我
                            </label>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">取消</button>
                            <span class="psw">忘記 <a href="#">密碼?</a></span>
                        </div>

                    </form>
                </div>
                <div id="id02" class="modal">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="img_avatar2.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="container">
                            <br>
                            <br>
                            <br>
                            <br>
                            <label for="uname"><b>帳號</b></label>
                            <input type="text" placeholder="輸入帳號" name="uname" required>

                            <label for="psw"><b>密碼</b></label>
                            <input type="password" placeholder="輸入密碼" name="psw" required>

                            <td>地址：</td>
                            <td>
                                <select name="country" />
                                <option value="none">---選擇縣市---</option>
                                <option value="cn">台北</option>
                                <option value="usa">桃園</option>
                                <option value="en">新竹</option>
                                <option value="jp">苗栗</option>

                            </td>
                            <tr>
                                <td>生日：</td>
                                <td>
                                    <input type="password" nam="pwd" />
                                </td>
                            </tr>

                            <label for="name"><b>姓名</b></label>
                            <input type="name" placeholder="輸入姓名" name="name" required>

                            <button type="login">註冊</button>

                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">取消</button>

                        </div>

                    </form>
                </div>
                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');
                    var modal = document.getElementById('id02');
                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
                <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
                    <div class="col-md-12">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            Made with
                            <i class="fa fa-heart"></i>
                            by
                            Ying
                            2018 All Rights Reserved

                        </p>
                    </div>
                </div>
            </footer>


        </div>






        <!-- JS includes -->
        <script src="~/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>
        <script src="~/js/jquery.easing.1.3.js"></script>
        <script src="~/css/slick/slick.js"></script>
        <script src="~/css/slick/slick.min.js"></script>
        <script src="~/js/jquery.collapse.js"></script>
        <script src="~/js/bootsnav.js"></script>

        <script src="~/js/plugins.js"></script>
        <script src="~/js/main.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
