@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_clientside.cshtml";

}
<section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello_slid">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">歡迎來到<strong>777外包網</strong></h2>
                                <h1 class="text-white">我們可以給你想要的</h1>
                                <h3 class="text-white">-趕快點擊下面按鈕<strong>開始</strong>你的第一步-</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="@Url.Action("Create", "Case")" class="btn btn-primary m-top-20"><font size=5>我要發案</font></a>
                                <a href="@Url.Action("receivecase", "Home")" class="btn btn-primary m-top-20"><font size=5>我要接案</font></a>
                            </div>
                        </div><!-- End off slid item -->
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">歡迎來到<strong>777外包網</strong></h2>
                                <h1 class="text-white">我們可以給你想要的</h1>
                                <h3 class="text-white">-趕快點擊下面按鈕<strong>開始</strong>你的第一步-</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="@Url.Action("Create", "Case")" class="btn btn-primary m-top-20"><font size=5>我要發案</font></a>
                                <a href="@Url.Action("receivecase", "Home")" class="btn btn-primary m-top-20"><font size=5>我要接案</font></a>
                            </div>
                        </div><!-- End off slid item -->
                        <div class="slid_item">
                            <div class="home_text ">
                                <h2 class="text-white">歡迎來到<strong>777外包網</strong></h2>
                                <h1 class="text-white">我們可以給你想要的</h1>
                                <h3 class="text-white">-趕快點擊下面按鈕<strong>開始</strong>你的第一步-</h3>
                            </div>
                            <div class="home_btns m-top-40">
                                <a href="@Url.Action("Create", "Case")" class="btn btn-primary m-top-20"><font size=5>我要發案</font></a>
                                <a href="@Url.Action("receivecase", "Home")" class="btn btn-primary m-top-20"><font size=5>我要接案</font></a>
                            </div>
                        </div><!-- End off slid item -->
                    </div>
                </div>
            </div>

        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->
<!--Featured Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div class="f_item_text">
                            <h3><font size=5>最優質的外包平台</font></h3>
                            <p>
                                <font size=5>透過我們可以讓您找到想要的人才或者找到想要的工作。</font>
</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-tablet"></i>
                        </div>
                        <div class="f_item_text">
                            <h3><font size=5>我們也提供廣告提案</font></h3>
                            <p>
                                <font size=5>有想要下廣告的歡迎與我們聯絡</font>
</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="f_item_text">
                            <h3><font size=5>輕鬆接/發案</font></h3>
                            <p>
                                <font size=5>我們提供一個友善且能夠信任的平台給大家使用</font>
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->
<!--Business Section-->
<section id="business" class="business bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_business">
                <div class="col-md-6">
                    <div class="business_slid">
                        <div class="slid_shap bg-grey"></div>
                        <div class="business_items text-center">
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img2.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="business_item sm-m-top-50">
                        <h2 class="text-uppercase"><strong>專家</strong> 成交排行榜</h2>
                        <ul>
                            <li><i class="fa fa-arrow-circle-right"></i><font size=" 5">1.已成交591件</font></li>
                            <li><i class="fa fa-arrow-circle-right"></i><font size=" 5">2.已成交527件</font></li>
                            <li><i class="fa fa-arrow-circle-right"></i><font size=" 5">3.已成交415件</font><li>
</ul>
                   
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Business section -->
<!--product section-->
<section id="product" class="product">
    <div class="container">
        <div class="main_product roomy-80">
            <div class="head_title text-center fix">
                <h2 class="text-uppercase">線上專家</h2>
                
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>圖像設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img5.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>程式設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img6.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>商業攝影</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img7.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>品牌設計</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>圖像設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img5.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>程式設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img6.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>商業攝影</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img7.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>品牌設計</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img1.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img1.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>圖像設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img5.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img2.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>程式設計</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img6.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img3.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>商業攝影</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="port_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="~/images/work-img7.jpg" alt="" />
                                            <div class="port_overlay text-center">
                                                <a href="~/images/work-img4.jpg" class="popup-img">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20">
                                            <h5>接案領域</h5>
                                            <h6>品牌設計</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Product section -->
<!--Test section-->
<section id="test" class="test bg-grey roomy-60 fix">
    <div class="container">
        <div class="row">
            <div class="main_test fix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="head_title text-center fix">
                        <h2 class="text-uppercase">來看看我們的客戶怎麼說</h2>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test_item fix">
                        <div class="item_img">
                            <img class="img-circle" src="~/images/profile.jpg" alt="" />
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="item_text">
                            <h5>Steven</h5>
                            
                            <p>
                                我覺得這個平台太棒了
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                            <img class="img-circle" src="~/images/test-img3.jpg" alt="" />
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="item_text">
                            <h5>Charles</h5>
                            
                            <p>
                                這個網站讓我接到好多生意!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off test section -->



